environments/aws/.terraform/providers/registry.terraform.io/hashicorp/aws/6.62.0/linux_amd64/terraform-provider-aws_v6.62.0_x5
environments/aws/terraform.tfstate
environments/aws/terraform.tfstate.backup
